body {
  background-color: #EB2400;
  margin: 0;

  display: flex;
  justify-content: center;   /* horizontal center */
  align-items: center;       /* vertical center */
  height: 100vh;             /* full viewport height */
   background-image: url('Gratis_Website_Mockup.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh
}
h1 {
  bottom: 10px;  
  font-size: 1em;
  text-align: center;
 
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#question {
  display: flex;
  align-items: center;
  gap: 150px;
  font-size: 5em;
  margin: 0;
}

footer {
    bottom: 10px;
    left: 10px;
    position: absolute;
}


.wheel-container {
  display: inline-block;      /* behaves like a word */
  width: 300px;
  height: 1em;                /* match text height */

  vertical-align: middle;     /* align with text baseline */
  perspective: 1000px;
}

.wheel {
    position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.wheel {
  transition: filter 0.1s linear, opacity 0.1s linear;
}

.wheel-link:hover {
  color: black;
  cursor: pointer;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.about h1 a{

  text-decoration: none;
color: black;

}

.about h1 a:hover{

  text-decoration: none;
color: white;

}

.Contact h1 a{

  text-decoration: none;
color: black;
}

.Contact h1 a:hover{

  text-decoration: none;
color: white;

}

h2 {
position: absolute;
    top: 20px;  
    left: 150px; 
}

.movable-image {
    position: absolute;
    
    /* Change these numbers to move it anywhere on the screen */
    top: 80px;  
    left: 45%;   
    
    width: 600px; /* Adjust size of your Adobe export */
    z-index: 10;  /* Ensures it stays on top of other elements */
}

.about-text1, .about-text2, .about-text3, .about-text4, .about-text5, .about-text6, .about-text7, .about-text8, .about-text9, .about-text10, .about-text2v2, .about-text5v2, .about-text7v2{
  font-size: 30px;
}
.about-text1 {
  position: absolute;
  top: 100px;
  left: 50px;
}
.about-text2 {
  position: absolute;
  top: 125px;
  left: 70px;
}
.about-text2v2 {
  position: absolute;
  top: 145px;
  left: 265px;
}
.about-text3 {
  position: absolute;
  top: 170px;
  left: 100px;
}
.about-text4 {
  position: absolute;
  top: 195px;
  left: 130px;
}
.about-text5 {
  position: absolute;
  top: 220px;
  left: 160px;
}

.about-text5v2 {
  position: absolute;
  top: 245px;
  left: 610px;
}

.about-text6 {
  position: absolute;
  top: 270px;
  left: 200px;
}
.about-text7 {
  position: absolute;
  top: 295px;
  left: 230px;
}

.about-text7v2 {
  position: absolute;
  top: 320px;
  left: 460px;
}
.about-text8 {
  position: absolute;
  top: 345px;
  left: 270px;
}
.about-text9 {
  position: absolute;
  top: 370px;
  left: 300px;
}
.about-text10 {
  position: absolute;
  top: 395px;
  left: 360px;
}

.here {
  position: absolute;
  text-decoration: none;
  color: white;
  top: 306px;
  left: 1143px;
  font-size: 17px;
  font-weight: bold;
}
.here:hover {
  position: absolute;
  text-decoration: none;
  color: black;
  top: 304px;
  left: 1145px;
  font-size: 18px;
  font-weight: bold;
}